/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
.slidingBoxContainer2 h2 { 
	font-size: 35px; 
	line-height: 40px; 
	margin-bottom: 10px; 
	text-align: right;
	color: #ffffff; 
}
.slidingBoxContainer h2 { 
	font-size: 35px; 
	line-height: 40px; 
	margin-bottom: 10px; 
	text-align: left; 
	color: #ffffff;
}
.slidingBoxContainer {
	width: 80%;
	height: 150px;
	margin-top: 20px;
	margin-right: 10%;
	margin-left: 10%;
	background: #000000;
	color: #ffffff;
	position: relative;
	overflow: hidden;
}
.slidingSecondPhase {
	background: #ffffff;
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	left: 100%;
	margin-left: -150px;
	display: table;
}
.slidingSecondPhase a.slidingBoxImage {
	width: 150px;
	height: 150px;
	position: relative;
	padding: 10px;
	display: block;
	display: table-cell;
}
.slidingSecondPhase a.slidingBoxImage img {
	width: 100%;
}
.slidingSecondPhase > p {
	display: table-cell;
	color: #000;
	vertical-align: middle;
	padding: 10px 10px 10px 0px;
}
.slidingBoxContainer2 {
	width: 80%;
	height: 150px;
	margin-top: 20px;
	margin-right: 10%;
	margin-left: 10%;
	background-color: #000000;
	color: #ffffff;
	position: relative;
	overflow: hidden;
}
.slidingSecondPhase2 {
	background: #ffffff;
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	right: 100%;
	margin-right: -150px;
	display: table;
}
.slidingSecondPhase2 a.slidingBoxImage2 {
	width: 150px;
	height: 150px;
	position: relative;
	padding: 10px;
	display: block;
	display: table-cell;
}
.slidingSecondPhase2 a.slidingBoxImage2 img {
	width: 100%;
}
.slidingSecondPhase2 > p {
	display: table-cell;
	color: #000;
	vertical-align: middle;
	padding: 10px 10px 10px 0px;
}
.eighteen.columns img {
	width: 25px;
	height: 25px;
	border-radius: 5px;
}
.navjet {
	width: 100%;
	text-align: center;
	margin-bottom: 0px;
}
.navjet li {
	float:left;
	list-style-type: none;
	border-left: 1px solid white;
	width: 20%;
	display: inline-block;
}
.navjet li:last-child {
	border-right: 1px solid white;
}
.navjet li a {
	color: #ffffff;
	display: block;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding: 10px;
	text-decoration: none;
	border: none;
}
.navjet a:hover {
	color: #0067b8;	
	background: -moz-linear-gradient(top, #ffffff 0%, #e6ecf3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6ecf3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e6ecf3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e6ecf3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e6ecf3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#e6ecf3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6ecf3',GradientType=0 ); /* IE6-9 */
}
.fullwidth {
	width: 100%;
}
.company-branding {
	background-color: rgba(255,255,255,0.6);
}
.main-message {
	background: url(../images/main-message-bg.jpg) no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	height: 40em;
	background-position: top center;
}
.message-background {
	margin-top:12em;
	margin-left:auto;
	margin-right:auto;
	padding: 5px;
	border-radius:5px;
	opacity:0.6;
	background-color:#ffffff;
	box-shadow: 10px 10px 5px #000000;
}
.message-bg-inner {
	border: 2px solid black;
	border-radius:5px;
	text-align:center;
}
.header {
	margin-top: 0;
	margin-bottom: 20px;
	background: #0067b8; /* Old browsers */
	background: -moz-linear-gradient(top, #0067b8 50%, #004f99 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#0067b8), color-stop(100%,#004f99)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0067b8 50%,#004f99 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0067b8 50%,#004f99 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0067b8 50%,#004f99 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0067b8 50%,#004f99 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0067b8', endColorstr='#004f99',GradientType=0 ); /* IE6-9 */
	opacity: 0.7;
}
.footer {
	background: 	url(../images/fluidLevel.jpg) repeat-x #f2f6ff; /* Old browsers */
	color: #383838;
	text-align: center;
	padding: 60px 0;
}
.footer li a{
	color: #383838;
}
.footer h3 {
	color: #383838;
}
.copy {
	font-size: 12px;
}
#navjet-collapse {
	display: none;
}



/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	}
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	}
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.main-message{
			background-size: auto;
		}
		.navjet {
			display: none;
		}
		#navjet-collapse {
			display: block;
		}
		.header-gradient{
			background: #0067b8; /* Old browsers */
			background: -moz-linear-gradient(top, #0067b8 50%, #004f99 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#0067b8), color-stop(100%,#004f99)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #0067b8 50%,#004f99 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #0067b8 50%,#004f99 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #0067b8 50%,#004f99 100%); /* IE10+ */
			background: linear-gradient(to bottom, #0067b8 50%,#004f99 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0067b8', endColorstr='#004f99',GradientType=0 ); /* IE6-9 */
		}
		.navjet-mini {
			height: 50px;
			border-bottom: 1px solid #383838;
			padding-top: 11px;
			padding-left: 10px;
		}
		.navjet-mini a {
			color: #ffffff;
			display: block;
			border-radius: 5px;
			height: 27px;
			width: 37px;
			text-align: center;
			font-size: 24px;
			line-height: 27px;
			text-decoration:none;
			background: #26587f; /* Old browsers */
			background: -moz-linear-gradient(top, #26587f 0%, #4c80ff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26587f), color-stop(100%,#4c80ff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #26587f 0%,#4c80ff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #26587f 0%,#4c80ff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #26587f 0%,#4c80ff 100%); /* IE10+ */
			background: linear-gradient(to bottom, #26587f 0%,#4c80ff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26587f', endColorstr='#a5a5a5',GradientType=0 ); /* IE6-9 */

		}
		.navjet-mini a:hover {
			background: #26587f;
		}
		.navjet-collapseSecondPhase {
			display: none;
		}
		.navjet-collapseSecondPhase li {
			height: 44px;
			border-bottom: 1px solid #333333;
			width: 100%;
			display: block;
		}
		.navjet-collapseSecondPhase a {
			line-height: 44px;
			font-size: 17px;
			text-align: center;
			width: 100%;
			color: #ffffff;
			display: block;
			text-decoration: none;
		}
	}
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
    }
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.header {
			background: none;
		}
	}



/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
